*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

nav{
    border: 1px black solid;
    height: 4rem;
    
}

nav a{
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 16rem;
}

section{
    margin: 3.5rem;
    padding: 2rem;
    border: 1px black solid;
    border-radius: 6px;
}
.img{
    display: flex;
    justify-content: space-around;

}
.div1{
background-color: rgb(195, 188, 188);
    box-sizing: border-box;
    border: solid white 1px;
    width: 280px;
    height: 290px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}
.img1{
    width: 200px;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 20px; left: 40px;

}
.div2{
    background-color: rgb(195, 188, 188);;
    box-sizing: border-box;
    border: solid white 1px;
    width: 280px;
    height: 290px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}
.img2{
    width: 200px;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 20px; left: 40px;

}
.div3{
    background-color: rgb(195, 188, 188);;
    box-sizing: border-box;
    border: solid white 1px;
    width: 280px;
    height: 290px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}
.img3{
    width: 200px;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 20px; left: 40px;

}

.img p{
    font-size: 20px;
    position: absolute;
    top: 220px; left: 105px;
}

.img a{
    font-size: 20px;
    position: absolute;
    top: 250px; left: 105px;
    background-color: rgb(244, 221, 195);
    width: 50px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}